
<nav id="auth_menu">
    <ul>
        <% if user_signed_in? %>
        <li> <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %> </li>
        <% else %>
        <li> <%= link_to 'Login', new_user_session_path %> </li>
        <% end %>
        <% if user_signed_in? %>
        <li> <%= link_to 'Edit account', edit_user_registration_path %> </li>
        <% if current_user.has_role? :admin %>
        <li> <%= link_to 'Admin', users_path %> </li>
        <% end %>
        <% else %>
        <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
        <% end %>
    </ul>
</nav>
<nav id="main_nav">
    <ul>
        <li><%= link_to 'Users', users_path%></li>
        <li><%= link_to 'Universes', universes_path%> </li>
        <% if current_universe %>
        <li><%= link_to 'Characters', universe_characters_path(current_universe) %></li>
        <li><%= link_to 'Locations', universe_locations_path(current_universe) %> </li>
        <li><%= link_to 'Scenes', universe_scenes_path(current_universe) %> </li>
        <li><%= link_to 'Stories', universe_stories_path(current_universe) %></li>
        <% end %>
    </ul>
</nav>