<table id="parts">
  <% @parts.each do |part| %>
    <tr>
	    <td><%= best_in_place part, :content, :type => :textarea %></td>
	    <td><%= button_to "Delete", part,:confirm => 'Are you sure?',:method => :delete %> </td> 
    </tr>
  <% end %>
</table>

<%= simple_form_for([@partible, Part.new]) do |f| %>
<%= f.error_notification %>
	<div class="form-inputs">
	    <%= f.input :content, as: :text , :input_html => { :cols => 100, :rows => 5 } %>
	</div>
	<div class="form-actions">
	    <%= f.button :submit %>
	</div>

<% end %>