<h1>Locations in <%=  link_to @universe.name, @universe, :method => :get %> Universe</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= link_to 'Show', universe_location_path(@universe, location) %></td>
    <td><%= link_to 'Edit', edit_universe_location_path(@universe, location) %></td>
    <td><%= link_to 'Destroy', [@universe, location], method: :delete, data: { confirm: 'Are you sure?' } %></td>  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_universe_location_path %>
