<h1>Listing characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Discipline</th>
    <th>Approach</th>
    <th>Efficacy</th>
    <th>Regard</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td><%= character.discipline %></td>
    <td><%= character.approach %></td>
    <td><%= character.efficacy %></td>
    <td><%= character.regard %></td>
    <td><%= link_to 'Show', universe_character_path(@universe, character) %></td>
    <td><%= link_to 'Edit', edit_universe_character_path(@universe, character) %></td>
    <td><%= link_to 'Destroy', [@universe, character], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<p><%= link_to "New Character", new_universe_character_path(@universe) %></p>

