
<%= simple_form_for(:scene) do |f| %>
  <%= f.error_notification %>
	<% locations_array = Location.all.map { |location| [location.name, location.name] } %>

  <div class="form-inputs">
    <%= f.input :name, collection: locations_array %>
    
    
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
 <%= button_to "Add Location", universe_locations_path(current_universe)%>
