<%= simple_form_for(:scene) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :act, collection: 1..6, prompt: "Select Act"%>
    <%= f.input :chapter, collection: 1..60, prompt: "Select Chapter"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
