<h1>Scenes</h1>


<table class="table1">
  <tr>
    <th>Title</th>
    <th>Characters</th>
    <th>Locaions</th>
    <th></th>
  </tr>

<% @universe.scenes.each do |scene| %>
  <tr>
    <td><h2><%= link_to scene.name, scene, title: 'View the Scene'%></h2></td>
    <td><%= scene.characters.map(&:name).join(", ") %></td>
    <td><%= scene.locations.map(&:name).join(", ") %></td>
    <td><%= link_to 'Remove', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Back to Universe', universe_path(@universe) %> | <%= link_to 'New scene', new_universe_scene_path(@universe) %>