<h1>Scenes in the <%= link_to @story.name, story_scenes_path(@scene.story.id), :method => :get %> Story </h1>

<table>
    <tr>
        <th>Name</th>
        <th>Story title</th>
        <th>Act</th>
        <th>Chapter</th>
        <th></th>
    </tr>
    <% @scenes.each do |scene| %>
    <tr>
        <td><%= best_in_place scene, :name, :type => :input%></td>
        <td><%= best_in_place scene, :story, :type => :input%></td>
        <td><%= best_in_place scene, :act, :type => :input%></td>
        <td><%= best_in_place scene, :chapter, :type => :input%></td>
        <td><%= button_to 'Destroy',scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
<br />
<%= render 'form' , :locals =>  {:scene => @scene} %>