<h1>Scenes  in the "<%= @universe.name %> "Universe</h1>
<section>
    <p>
        The concept of a scene in fiction comes from theatre. It is where the 'Who' and 'Where' are combined with 
        'What' to tell a story. Thus a scene is comprised of three elements:Characters present, the location 
        as the setting, and the actions that take place. 
    </p> 
</section>


<table class="table1">
  <tr>
    <th>Title</th>
    <th>Characters</th>
    <th>Locaions</th>
    <th></th>
  </tr>

<% @universe.scenes.each do |scene| %>
  <tr>
    <td><h2><%= link_to scene.name, scene, title: 'View the Scene'%></h2></td>
    <td><%= scene.characters.map(&:name).join(", ") %></td>
    <td><%= scene.locations.map(&:name).join(", ") %></td>
    <td><%= link_to 'Remove', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New scene', new_universe_scene_path(@universe) %>