<section id="middle">
    <aside id="single_side_Left">
        <strong>single_side_right</strong>
        <div class="stacks">
            <div class="inner_stack_single">
                <strong> inner_stack_single 0</strong>
                <h2>"<%= @scene.location_id %>" location</h2>
                <p>lookup location discription</p>
                <h3> Information</h3> 
            </div>
            <div class="inner_stack_single">
                <strong>inner_stack_single 1</strong>
                 <%= render 'characters/characters_sidestack' %>
            </div>

    </aside>

    <div id="single_center">
        <strong> single_center:</strong>
        <h1> "<%= @scene.name %>" in <%= link_to @scene.story.name, story_scenes_path(@scene.story_id) %></h1>
        <fieldset>
            <legend>
                Genrate Branch Text
            </legend>
            <button>
                Best Case
            </button>
            <button>
                Middle
            </button>
            <button>
                Worst Case
            </button>
            <button>
                Jump to Diffrent Story
            </button>
        </fieldset>
        <fieldset>
            <legend>
                Story Text
            </legend>
            <%= render 'parts/parts_sidestack' %>
        </fieldset>

    </div>
</section><!-- #middle-->