<section id="middle">
    <aside id="single_side_Left">
        <strong>single_side_right</strong>
        <div class="stacks">
            <div class="inner_stack_single">
                <strong> inner_stack_single 0</strong>
                <h3> Characters Present</h3>
                <%= render 'characters/characters_sidestack' %>
            </div>
            <div class="inner_stack_single">
                <strong>inner_stack_single 1</strong>
                <table>
                    <tr>
                        <th>Added Character</th>
                        <th>first (n) charaters of description</th>
                        <th>Link to</th>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>button</td>
                    </tr>
                </table>

            </div>

    </aside>

    <div id="single_center">
        <strong> single_center:</strong>
        <h1> "<%= @scene.name %>" in <%= link_to @scene.story.name, story_scenes_path(@scene.story_id) %></h1>
        <h2><%= @scene.location%></h2>
        <fieldset>
            <legend>
                Genrate Branch Text
            </legend>
            <button>
                Best Case
            </button>
            <button>
                Middle
            </button>
            <button>
                Worst Case
            </button>
            <button>
                Jump to Diffrent Story
            </button>
        </fieldset>
        <fieldset>
            <legend>
                Story Text
            </legend>
            <%= render 'parts/parts_sidestack' %>
        </fieldset>

    </div>
</section><!-- #middle-->