<h1>The Scene "<%= @scene.name %>"</h1>
<h2>In the "<%= @scene.universe.name %>" Universe</h2>

<p>
  <b>Characters:</b>
  <%= @scene.characters.map(&:name).join(", ") %>
</p>

<p>
  <b>Location:</b>
  <%= @scene.locations.map(&:name).join(", ") %>
</p>


<%= render 'parts/parts' %> 

<%= link_to 'Back Scenes', universe_scenes_path(@scene.universe_id) %>
<%= link_to 'Edit', edit_scene_path(@scene) %>
