<%= simple_form_for(:physic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :position %>
    <%= f.input :size %>
    <%= f.input :weight %>
    <%= f.input :force %>
    <%= f.input :energy %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
