<h1>Stories in the "<%= @universe.name %>" Universe</h1>

<section>
    <p>
        The interweaving of scenes is what makes a story.
   </p> 
   <!-- One of the goals of this tool is to evaluate story flow by having interchangeable scene order-->
</section>

<table class="table1">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= best_in_place story, :name, :type => :input %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story)%></td>
    <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_universe_story_path(@universe) %>
