<p id="notice"><%= notice %></p>

<p>
  <%= @story.name %> in <%= @story.universe.name %> Universe<br />
</p>

<p>
  <%#@story.scenes.map(&:name).join(", ") 
  %>
  <% @story.scenes.map do |scene| %>
     <b>Scene:</b> #<%= scene.id %> <%= scene.name %> <br />
        <table id="parts">
          <% scene.parts.each do |part| %>
            <tr>
                <td><%= best_in_place part, :content, :type => :textarea %></td> 
            </tr>
          <% end %>
        </table>  
  <% end %>
</p>


<%= link_to 'Back', universe_stories_path(current_universe) %>
<%= link_to 'Edit', edit_story_path(@story) %>