<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Universe:</b>
  <%= @story.universe.name %>
</p>

<p>
  <b>Scene:</b>
  <%= @story.scenes.map(&:name).join(", ") %>
</p>


<%= link_to 'Back', universe_stories_path(current_universe) %>
<%= link_to 'Edit', edit_story_path(@story) %>