<h1>Characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Selfcontrol</th>
    <th>Approach</th>
    <th>Efficacy</th>
    <th>Regard</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for character in ([@universe, @characters]) %>
  <tr>
    <td><%= character.name %></td>
    <td><%= character.selfcontrol %></td>
    <td><%= character.approach %></td>
    <td><%= character.efficacy %></td>
    <td><%= character.regard %></td>
  </tr>
<% end %>
</table>
<br />