<h1>Characters</h1>

<section>
    <p>
        This is to manage all of the 'Who's' in telling a story. Having all of a characters descriptions and a 
        sequence of events of what has happed to that charater will allow authors to make a charater
        more realistic.
    </p> 
</section>

<table class="table1">
  <tr>
    <th>Name</th>
    <th>Scenes</th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= best_in_place character, :name, :type => :input %></td>
    <td><%= character.scenes.map(&:name).join(", ") %></td>
    <td><%= link_to 'Details', character %></td>
    <td><%= link_to 'Remove', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_universe_character_path(@universe) %>