<table>
  <tr>
    <th>Name</th>
    <th>Reactions filter </th>
    <th>Approach twards </th>
    <th>Efficacy </th>
    <th>Regard of others </th>
    <th></th>
    <th></th>
  </tr>
<%#TODO: plurlize collections 
%>
<% #TODO: Load a single character tags in sidebar
%> 
<% #TODO: fix the css.elements widths 
%>
<% @characters.each do |character| %>
  <tr>
	<td><%= best_in_place [character], :name, :type => :input %></td>
	<td><%= best_in_place [character], :discipline, :type => :select, :collection => Character.Willpower%></td>
	<td><%= best_in_place [character], :approach, :type => :select, :collection => Character.Manner%></td>
	<td><%= best_in_place [character], :efficacy, :type => :select, :collection => Character.Power%></td>
	<td><%= best_in_place [character], :regard, :type => :select, :collection => Character.Shown%></td>
	<td><%=  button_to 'Show', character, :method => :get %> </td>
	<td><%= button_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 
  </tr>
<% end %>
</table>





<br />
<%= render 'form' , :locals =>  {:character => @character} %>



