<div id="character_details">
  <h3><%= @character.name %></h3>
  <dl>
    <dt>Name: </dt><dd><%=  @character.name %></dd>
	<dt> control: </d<dd><%= @character.discipline %></dd>
	<dt>Approach: </dt><dd><%= @character.approach %></dd>
	<dt>Efficacy: </dt><dd><%= @character.efficacy %></dd>
	<dt>Regard: </dt><dd><%= @character.regard %></dd>
  </dl>
  <p class="actions">
    <td><%= link_to 'Edit', edit_universe_character_path(@universe, @character) %></td>
	<td><%= link_to 'Destroy', [@universe, @character], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </p>
</div>