<div id="character_details">
  <h3>Edit: <%= @character.name %></h3>
  <dl>
    <dt>Name: </dt><dd><%= best_in_place [@universe, @character], :name, :type => :input %></dd>
	<dt> Control: </d<dd> <%= best_in_place [@universe, @character], 
					:discipline, :type => :select, :collection => Character.Willpower%></dd>
	<dt> Approach: </d<dd> <%= best_in_place [@universe, @character], 
					:approach, :type => :select, :collection => Character.Manner%></dd>
	<dt> Efficacy: </d<dd> <%= best_in_place [@universe, @character], 
					:efficacy, :type => :select, :collection => Character.Power%></dd>
	<dt> Regard: </d<dd> <%= best_in_place [@universe, @character], 
					:regard, :type => :select, :collection => Character.Shown%></dd>
  </dl>
  <p class="actions">
  	<!--for some reason, when 'save' is enabled a empty charater is created -->
  	<!--<%= button_to 'Save', universe_characters_path(@universe) %>-->
	<%= button_to 'Destroy', [@universe, @character], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>