<p>Reset for Editing</p>
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b><%= @character.name %>
</p>

<p>
  <b>Selfcontrol:</b><%= @character.selfcontrol %>
</p>

<p>
  <b>Approach:</b><%= @character.approach %>
</p>

<p>
  <b>Efficacy:</b><%= @character.efficacy %>
</p>

<p>
  <b>Regard:</b><%= @character.regard %>
</p>
