


                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <p id="notice"><%= notice %></p>
                                    <h2> <%= @character.name %> in the <%= @character.universe.name  %></h2>
                                    <p><b>Descriptions: </b></p>
                                    <%= render 'parts/parts' %> 
                                    <%= link_to 'Back', universe_characters_path(current_universe) %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->


