<section id="middle">
    <div id="container">
        <strong> Center Content:</strong>
        <%= render 'index' %>
    </div>
    <aside id="double_side_right">
        <strong> Side</strong>
        <div class="stacks">
            <div class="inner_stack_left">
                <strong> Stack 0</strong>
                <h3>Story Arc Stories</h3>
                <table>
                    <tr>
                        <th>Arcs</th>
                        <th>Stories</th>
                    </tr>
                    <% @storyarcs.each do |storyarc| %>
                    <tr>
                        <td><%= link_to storyarc.name, storyarc_path(storyarc)%></td>
                        <td><%= link_to 'Stories', storyarc_stories_path(storyarc)%></td>
                    </tr>
                    <% end %>
                </table>
            </div>
            <div class="inner_stack_right">
                <strong> Stack 1</strong>
                <%= render 'characters/characters_sidestack' %>
            </div>
            <div class="stacks">
                <div class="inner_stack_left">
                    <strong> Stack 2</strong>

                </div>
                <div class="inner_stack_right">
                    <strong> Stack 3</strong>
                    <%= render 'locations/locations_sidestack' %>
                </div>
    </aside>
</section>