<h1><h1>Storyarcs in <%=  link_to @universe.name, @universe, :method => :get %> Universe</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storyarcs.each do |storyarc| %>
  <tr>
    <td><%= storyarc.name %></td>
    <td><%= link_to 'Show', universe_storyarc_path(@universe, storyarc) %></td>
    <td><%= link_to 'Edit', edit_universe_storyarc_path(@universe, storyarc) %></td>
    <td><%= link_to 'Destroy', [@universe, storyarc], method: :delete, data: { confirm: 'Are you sure?' } %></td>  </tr>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New storyarc', new_universe_storyarc_path %>
