<h1>Universes</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Owner</th>
		<th></th>
		<th></th>
	</tr>
	
	<% @universes.each do |universe| %>
	<tr>
		<td><%= best_in_place universe, :name, :type => :input %></td>
		<td><%= universe.user_id %></td>
		<td> <%=  button_to 'Show', universe, :method => :get %> </td>
		<td> <%=  button_to  'Delete', universe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
<br />
<%= render "universes/form", :locals =>  {:universe => @universe} %></tr>
