<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @universe.name %>
</p>

<p>
  <b>User:</b>
  <%= @universe.user_id %>
</p>


<%= link_to 'Edit', edit_universe_path(@universe) %> |
<%= link_to 'Back', universes_path %>
