<section id="middle">
    <div id="container">
        <strong> container:</strong>
        <h1>Welcome to <%= link_to "Universe", root_path%> <%= @universe.name %></h1>
		<p>add Description (comment/tag)</p>
    </div><!-- #container-->

    <aside id="double_side_right">
        <strong>double_side_right</strong>
        <div class="stacks">
            <div class="inner_stack_left">
                <strong> inner_stack_left 0</strong>
				<%= render 'storyarcs/storyarcs_sidestack' %>
                <br />
            </div>
            <div class="inner_stack_right">
                <strong> inner_stack_righ 1</strong>
                <%= render 'characters/characters_sidestack' %>
            </div>
        </div>
        <div class="stacks">
            <div class="inner_stack_left">
                <strong> inner_stack_left 2</strong>
                <%= render 'locations/locations_sidestack' %>
            </div>
            <div class="inner_stack_right">
                <strong> inner_stack_right 3</strong>
                <p> add logic to not show owner<br />
                 'add colab' not programed<br />
                 add auth to not show this to non author</p>
                <%= render 'users/users_sidestack' %>
            </div>
    </aside><!-- #sideLeft -->
</section><!-- #middle-->