<h1>Stories in the <%=  link_to @storyarc.name, @storyarc, :method => :get %> Story Arc</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%  @stories.each do |story| %>
  <tr>
    <td><%= story.name %></td>
    <td><%= link_to 'Show', storyarc_story_path(@storyarc, story) %></td>
    <td><%= link_to 'Edit', edit_storyarc_story_path(@storyarc, story) %></td>
    <td><%= link_to 'Destroy', [@storyarc, story], method: :delete, data: { confirm: 'Are you sure?' } %></td>  </tr>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New stories', new_storyarc_story_path %>
