<h1>Listing stories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Universe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.name %></td>
    <td><%= story.universe.name %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to Universe', universe_path(@universe) %>
<%= link_to 'New Story', new_universe_story_path(@universe) %>
