<h1>Locations  in the "<%= @universe.name %>" Universe</h1>

<section>
    <p>
        This is the 'Where' of telling a story. This is the central point for all of the information about a place.
        The goal being by centralising the details, when framed by time, it will allow authors to manage the "history" 
        of a location. 
    </p> 
</section>

<table class="table1">
  <tr>
    <th>Name</th>
    <th>Universe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= best_in_place location, :name, :type => :input %></td>
    <td><%= location.universe.name %></td>
    <td><%= location.scenes.map(&:name).join(", ") %></td>
    <td><%= link_to 'Details', location %></td>
    <td><%= link_to 'Remove', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New location', new_universe_location_path(@universe) %>
