<header class="hd">
    <div id="container-top"></div>
    <div id="banner"></div>
    <nav id="hmenu-wpr">
        <ul id="hmenu" class="sf-menu sf-js-enabled sf-shadow">
            <li class="current" style="border:none"><%= link_to 'Home', universes_path,:class => "toplvl sf-with-ul" %> </li>
            <li><%= link_to 'Universes', universes_path,:class => "toplvl" %>
                <ul>
                    <% if current_universe %>
                        <li class="current"><%= link_to 'Characters', universe_characters_path(current_universe) %></li>
                        <li><%= link_to 'Locations', universe_locations_path(current_universe) %> </li>
                        <li><%= link_to 'Scenes', universe_scenes_path(current_universe) %> </li>
                        <li><%= link_to 'Stories', universe_stories_path(current_universe) %></li>
                    <% end %>
            </li>
        </ul></li>

        <li><a href="#" class="toplvl">Authentication</a>
            <ul>
                <li class="current"><a href="#">Login</a></li>
                <li><a href="#">logout</a></li>
            </ul></li>
        </ul>
    </nav>
</header>