<header id="page_header" role="banner">
    <%= link_to "Disambiguation", root_path%>
    <%= render 'layouts/devise_nav' %>
        <nav id="main_nav">
            <ul>
               <li><%= link_to 'Users', users_path%></li> 
               <li><%= link_to 'Universes', universes_path%> </li>
               <% if current_universe %>
                   <li><%= link_to 'Characters', universe_characters_path(current_universe) %></li>  
                   <li><%= link_to 'Locations', universe_locations_path(current_universe) %> </li> 
                   <li><%= link_to 'Scenes', universe_scenes_path(current_universe) %> </li> 
                   <li><%= link_to 'Stories', universe_stories_path(current_universe) %></li> 
               <% end %> 
            </ul>
        </nav>
</header>
<!-- <%# add menu logic %>-->
