<!DOCTYPE html>
<html>
    <head>
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Disambiguation" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Disambiguation" %>">
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= yield(:head) %>
    </head>

    <body class="<%= controller_name %> <%= action_name %>">
        <div id="top">
            <div class="overlay"></div>
        </div><!-- top -->
        <div id="wrapper">
            <div class="overlay"></div>
            <div class="border-top"></div>

            <div class="content">
                <div id="container">
                    <%= render 'layouts/header' %>
                    <div class="bd">
                        <div id="page">
                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <%= yield %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->
                        </div><!-- page-->
                        <div class="clear" style="height:60px"></div>
                    </div><!-- bd -->
                <%= render 'layouts/footer' %>
                </div><!-- container-->
            </div><!-- content -->
        </div><!-- wrapper -->
        <div class="clear"></div>
    </body>
</html>
