<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Disambiguation" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Disambiguation" %>">
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= yield(:head) %>
    </head>

    <body class="<%= controller_name %> <%= action_name %>">
        <div id="top">
            <div class="overlay"></div>
        </div>

        <div id="wrapper">
            <div class="overlay"></div>
            <div class="border-top"></div>

            <div class="content">
                <div id="container">
                    <%= render 'layouts/header' %>
                    <div class="bd">
                        <div id="page">
                            <div id="main">
                                <div class="content">
                                    <%= render 'layouts/messages' %>
                                    <%= yield %>
                                </div>
                            </div>
                        </div>
                        <div class="clear" style="height:60px"></div>
                    </div>
                </div>
                <%= render 'layouts/footer' %>
            </div>
        </div>
        </div>
        <div class="clear"></div>
    </body>
</html>
